img{
    width: 30%;
   /*Primera forma margin: 1.66%;*/
   /*Segunda forma:*/
   margin: calc(10%/6);
}

nav{
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
      /*abajo y arriba // a los lados*/
    padding: 1em 0px;
    font-family: 'Sarala', sans-serif;
    font-size: 1.5em;/*en tamaño de letra no se recomienda usar % */
}