section{
    width: 500px;
    height: 500px;
    background-color: coral;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(192, 59, 81, 0.61);
}
#opacity{
    width: 50%;
    height: 50%;
    background-color: palegreen;
    opacity: 0.4;
}