body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    text-align: center;
}
#container{
    background-color: dimgray;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display:flex;
    /*se puede justificar(acomodar horizontal o vertical, depende de "flex-direction:row ó col")*/
    justify-content: center;
    flex-direction: column; /*puede ser row ó colum*/
    flex-wrap: wrap;
    align-items: flex-start;
    
}
#container div{
    width: 200px;
    height: 150px;
    text-align: center;
  
}

div:nth-of-type(3){
    align-self:center;
}
div:nth-of-type(2){
    align-self:flex-end;
}